#wrapper {
    margin: 0;
    padding: 0;
}

    #wrapper .container {
        margin: 0;
        padding: 0;
    }

#controller .container {
    height: 20px;
}



.btn {
    border-radius: 0;
}

/*.center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}*/


#controlls {
    margin-top: 2.5%;
}

.form-upload p {
    color: #000;
    font-weight: bold;
    margin: 0;
}


.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.input-field {
    margin: 0;
    padding: 0;
}

.modal {
    overflow-y: auto;
    max-height: 100%;
    padding-right: 3%;
}

.alert-danger p {
    color: red !important;
}

.card-room {
    z-index: 100;
    padding: 0 5px;
    position: absolute;
    margin-left: 0;
    margin-top: 0;
    color: black;
    background-color: #f57c00; /* FALLBACK */
    background-color: rgba(245, 141, 0, 0.75);
    font-size: 18px;
    font-weight: bold;
    border-bottom-right-radius: 2px;
}
