
nav {
    background-color: black;
    border-bottom: 5px solid #FB8C00;
}

nav ul a:hover {
    background-color: #FB8C00;
}

.btn-info {
    margin-top: 10px;
    background-color: #FB8C00;
}

 .btn {
     background-color: #FB8C00;
 }

.btn:hover {
     background-color: rgb(205, 70, 20);
 }

.btn:focus {
    background-color: rgb(205, 70, 20);
}


.button {
    font-weight: bolder;
}

.card-reveal{
    overflow-x:hidden!important;
}

#heart {
    color:red;
}

body{
    background-image:url('../Images/asanoha-400px.png')
}


#accounttitle {
    font-weight:bolder;
    font-size:30px;

}

#cardform {
    margin-top: 100px;
}

.brand-logo {
    margin-top: 7px;
}

#modalLogin {
    width: 33%;
}

@media only screen and (max-width: 992px) {
    #modalLogin {
        width: 80%
    }
}

.button-collapse {
    color: #fb8c00;
}

.side-nav {
   background-image:url('../Images/asanoha-400px.png')
}


/*@media only screen and (max-width: 992px) {
    #search {
        width: 100%
    }
}*/

#searchArtwork li {
    margin-left: 30px;
}

#searchArtwork p {
    margin-left: 10px;
}
#searchArtwork a:hover {
     box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);
}