
nav {
    background-color: black;
    border-bottom: 5px solid #FB8C00;
}

nav ul a:hover {
    background-color: #FB8C00;
}

.btn-info {
    margin-top: 10px;
    background-color: #FB8C00;
}

 .btn {
     background-color: #FB8C00;
 }

.btn:hover {
     background-color: rgb(205, 70, 20);
 }

.btn:focus {
    background-color: rgb(205, 70, 20);
}


.button {
    font-weight: bolder;
}

.card-reveal{
    overflow-x:hidden!important;
}

#heart {
    color:red;
}

body{
    background-image:url('../Images/asanoha-400px.png')
}


#accounttitle {
    font-weight:bolder;
    font-size:30px;

}

#cardform {
    margin-top: 100px;
}

.brand-logo {
    margin-top: 7px;
}

