@{
    ViewBag.Title = "About";
}


<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-content" style="border-bottom: solid 5px #FB8C00;">
                <h1 style="text-align:center;text-decoration:underline">ArtStone</h1>
                <p>
                    Projekt ArtStone byggdes med syftet att förenkla skolans konsthantering. Östra Gymnasiet är känt för sina enorma mängder
                    konst av olika slag: Tavlor, skulpturer och massor av andra <b>KONSTiga</b> föremål. <br />Fokusen med denna hemsida är
                    användarvänlighet, funktionalitet, modern och fräsch design samt tillgång från alla sorters elektroniska enheter som t.ex. 
                    Surfplattor, Mobiltelefoner och Datorer. Här under kommer en guide på hur man kan använda samtliga av webbsidans funktioner
                </p>

                <h5 style="text-decoration:underline">Lägg till ett konstverk</h5>
                <p>
                    <ol>
                        <li>Öppna sidan</li>
                        <li>Tryck på stora röd/orangea knappen längst ner i höra hörnet</li>
                        <li>Fyll i all information som är nödvändig</li>
                        <li>Välj bildfilen genom att trycka på knappen med Kamera-ikonen</li>
                        <li>Tryck på knappen "Upload" för att lägga upp bilden eller "Cancel" för att avbryta </li>
                        <li>Updatera sidan så kommer den upplagda bilden ha lagts till</li>
                    </ol>
                </p>

                <h5 style="text-decoration:underline">Redigera ett konstverk</h5>
                <p>
                    <ol>
                        <li>Öppna sidan</li>
                        <li>Tryck på knappen med 3 prickar under bilden som ska redigeras eller sök på den önskade bilden i sökfältet och tryck på den önskade bilden (Ifall du använder dig av sökmetoden skippa då steg 3)</li>
                        <li>Under all information som dyker upp efter att man har tryckt på knappen med 3 prickarna, finns en knapp med texten "Redigera". Tryck på den knappen </li>
                        <li>Fyll i all information som krävs </li>
                        <li>Tryck på knappen "Submit Changes" för att lägga upp bilden eller "Cancel" för att avbryta. <b>Kom ihåg att det inte går att spara ändringarna ifall fälten är toma!</b></li>
                        <li>Du blir omdirigerad till startsidan där all uppdaterade information kommer att synas</li>
                    </ol>
                </p>

                <h5 style="text-decoration:underline">Ta bort ett konstverk</h5>
                <p>
                    <ol>
                        <li>Öppna sidan</li>
                        <li>Tryck på knappen med 3 prickar under bilden som ska redigeras eller sök på den önskade bilden i sökfältet och tryck på den önskade bilden (Ifall du använder dig av sökmetoden skippa då steg 3)</li>
                        <li>Under all information som dyker upp efter att man har tryckt på knappen med 3 prickarna, finns en knapp med texten "Redigera". Tryck på den knappen </li>
                        <li>Tryck på knappen "Delete Artwork"</li>
                        <li>Du blir omdirigerad till startsidan där all uppdaterade information kommer att synas</li>
                    </ol>
                </p>

                <h5 style="text-decoration:underline">Ta bort ett konstverk</h5>
                <p>
                    <ol>
                        <li>Öppna sidan</li>
                        <li>Tryck på sökfältet som befinner sig under navigationsbaren och över alla konstverk</li>
                        <li>Skriv in minst tre bokstäver av följande kategorier för att hitta det önskade konstverket: Titel, Artist och Rum </li>
                    </ol>
                </p>

                <h5 style="text-decoration:underline">Lägg till ett konstverk (Från Mobila Enheter)</h5>
                <p>
                    <ol>
                        <li>Öppna sidan</li>
                        <li>Tryck på stora röd/orangea knappen längst ner i höra hörnet</li>
                        <li>Fyll i all information som är nödvändig</li>
                        <li>Välj bildfilen genom att trycka på knappen med Kamera-ikonen. Här kan du välja mellan "documents" som gör det möjligt att använda existerande bilder samt "camera" som gör det möjligt att ta en bild och lägga upp just den</li>
                        <li>Tryck på knappen "Upload" för att lägga upp bilden eller "Cancel" för att avbryta </li>
                        <li>Updatera sidan så kommer den upplagda bilden ha lagts till</li>
                    </ol>
                </p>

                <h5 style="text-align:center;text-decoration:underline">Männen bakom Project ArtStone</h5>
                <div class="row">
                    <!--Daniil-->
                    <div class="card col m4">
                        <div class="card-image waves-effect waves-block waves-light">
                            <a href="~/Images/Daniil.JPG" data-lightbox="Gallery" data-title="Daniil Baykov"><img src="~/Images/Daniil.JPG"></a>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Daniil Baykov<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4" style="text-decoration:underline">Daniil Baykov<i class="material-icons right">close</i></span>
                            <p>Östras stolhet sedan 2012, <br />
                                Skapare av bloggen #LivetMedKD
                            </p>
                            <p><b>Web-Designer</b></p> <br />
                            <p>
                                Design-relaterade frågor: <br />
                                Tel: 070 723 79 28 <br />
                                <a href="https://www.facebook.com/daniil.baykov" style="color:darkblue"><i class="fa fa-facebook-square"></i>Facebook</a> <br />
                                <a href="https://twitter.com/daniil_baykov"><i class="fa fa-twitter-square"></i>Twitter</a><br />
                                <a href="https://plus.google.com/u/0/100605260576689096897/" style="color:red;"><i class="fa fa-google-plus-square"></i>Google+</a>
                            </p>
                        </div>
                    </div>
                    <!--Peter-->
                    <div class="card col m4">
                        <div class="card-image waves-effect waves-block waves-light">
                            <a href="~/Images/Peter.JPG" data-lightbox="Gallery" data-title="Peter Lars Heinum"><img src="~/Images/Peter.JPG"></a>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Peter Lars Heinum<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4" style="text-decoration:underline">Peter Lars Heinum<i class="material-icons right">close</i></span>
                            <p>Modeintresserad sen puberteten kickade in</p>
                            <p><b>Databas Expert</b></p> <br />
                            <p>
                                Databas-relaterade frågor: <br />
                                Tel: 076 134 73 14 <br />
                                <a href="https://www.facebook.com/peter.heinum" style="color:darkblue"><i class="fa fa-facebook-square"></i>Facebook</a><br />
                                <a href="https://www.facebook.com/peter.heinum"><i class="fa fa-twitter-square"></i>Twitter</a><br />
                                <a href="https://www.facebook.com/peter.heinum" style="color:red;"><i class="fa fa-google-plus-square"></i>Google+</a>
                            </p>
                        </div>
                    </div>
                    <!--Chris-->
                    <div class="card col m4">
                        <div class="card-image waves-effect waves-block waves-light">
                            <a href="~/Images/Chris.JPG" data-lightbox="Gallery" data-title="Christopher Kilinc"><img src="~/Images/Chris.JPG"></a>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Christopher Kilinc<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4" style="text-decoration:underline">Christoper Kilinc<i class="material-icons right">close</i></span>
                            <p>Funky sedan 2015</p>
                            <p><b>Systemutvecklare</b></p><br />
                            <p>
                                Generella frågor: <br />
                                Tel: 073 664 72 93 <br />
                                <a href="https://www.facebook.com/chris.kilinc" style="color:darkblue"><i class="fa fa-facebook-square"></i>Facebook</a><br />
                                <a href="https://twitter.com/chriskilinc"><i class="fa fa-twitter-square"></i>Twitter</a><br />
                                <a href="https://plus.google.com/u/0/108035827411689286062/" style="color:red;"><i class="fa fa-google-plus-square"></i>Google+</a>
                            </p>
                        </div>
                    </div>
                </div>
    </div>
</div>
</div>
</div>