@model MvcArtStone.Models.Artwork
@{
    string key = Request.Url.OriginalString.Split('/').Last();
    ViewBag.Title = key;
    //Guid idiotid = Guid.Parse(Request.Url.OriginalString.Split('/').Last());

    //Guid id = Guid.Parse(idiotid.Split('/').Last());
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="artstoneApp" ng-controller="editController">
    <p ng-model="artwork.Title">@Model.Title</p>

  
</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="~/Scripts/angular/artstoneApp.js"></script>
<script src="~/Scripts/angular/editController.js"></script>