@model Guid
@{
    ViewBag.Title = "EditArtwork";
    //Guid idiotid = Guid.Parse(Request.Url.OriginalString.Split('/').Last());
    string key = Request.Url.OriginalString.Split('/').Last();
    //Guid id = Guid.Parse(idiotid.Split('/').Last());
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="editApp" ng-controller="editController" ng-bind-html="@key" ng-init="fetchArtwork(@key)">

    <p>@key</p>

    <!-- TODO: EDIT FUNCTION-->
</div>


<h2></h2>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="~/Scripts/angular/editApp.js"></script>
<script src="~/Scripts/angular/editController.js"></script>