@{
    ViewBag.Title = "Home Page";
}
@*<div ng-app="artstoneApp" ng-controller="artstoneController" class="container">
        @*<a href="" ng-click="test()">Click me!</a>
        <form name="saveArtwork" ng-submit="insertArtwork(artwork)">
            <input type="text" ng-model="artwork.ArtworkTitle" class="form-control" name="test"/>
            <input type="text" ng-model="artwork.Title" class="form-control" name="test" />
            <input value="Click me" type="submit"/>
        </form>
    </div>*@

<div id="wrapper" ng-app="artstoneApp" ng-controller="artstoneController">
    <!-- TODO: Slider here -->
    <!-- TODO: Search bar and buttons -->
    <div id="controller">
        @*<div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-2 pull-right">
                        <button id="btnCol3" class="btn-info btn" value="hide/show">COL3</button>
                        <button id="btnColRows" class="btn-info btn">ROWS</button>
                    </div>
                </div>
            </div>*@
        <!-- Controllers -->
        <div class="row">
            <div class="col s12 m6 l3">
                <button id="btnCol3" class="btn-info btn" value="hide/show">COLUMNS</button>
                <button id="btnColRows" class="btn-info btn">ROWS</button>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l3">
                <button id="btnUpload" class="btn-info btn" value="hide/show">UPLOAD</button>
            </div>

        </div>

        <!-- TODO: Upload-->
        <div id="uploader" ng-app="artstoneApp" ng-controller="artstoneController">
            <div class="row">
                <div class="col s12 m4">
                    <form class="form-upload" style="border: 2px solid #FB8C00; padding-left: 5px; padding-bottom: 5px;" ng-submit="insertArtwork(artwork)">
                        <div class="input-field">
                            <i class="material-icons prefix">title</i>
                            <input id="title" type="text" class="validate" ng-model="artwork.Title">
                            <label for="title">Title</label>
                        <p>Room</p>
                        <input type="text" ng-model="artwork.Room" />
                        <p>Description</p>
                        @*<input type="" ng-model="artwork.Description"/>*@
                        <textarea ng-model="artwork.Description" rows="3" cols="22"></textarea>
                        <p>In Storage</p>
                        <input type="checkbox" ng-model="artwork.InStorage" />
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="artist" type="text" class="validate" ng-model="artwork.Artist">
                            <label for="artist">Artist</label>
                        </div>

                        <div class="file-field input-field">
                            <div class="btn">
                                <span>Välj fil</span>
                                <input type="file" ng-model="artwork.Picture">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                        <input type="file" ng-model="artwork.Picture" onchange="angular.element(this).scope().file_changed(this)" />
                        @*<input value="Click me" type="submit" />*@
                        <button type="submit" class="btn-info btn"> Upload </button>
                        <button id="uploadClose" type="button" class="btn-info btn" value="hide/show">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="col3Gallery">
       <div class="col m4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../../Images/logo_homepage_20150714083101.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Ladda Upp Konstverk <i class="material-icons right">add</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Ladda Upp Konstverk<i class="material-icons right">close</i></span>
                        <form class="form-upload" ng-submit="insertArtwork(artwork)">
                            <div class="input-field">
                                <i class="material-icons prefix">title</i>
                                <input id="title" type="text" class="validate" ng-model="artwork.Title">
                                <label for="title">Title</label>
                            </div>
                            <div class="input-field">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="artist" type="text" class="validate" ng-model="artwork.Artist">
                                <label for="artist">Artist</label>
                            </div>

                            <div class="file-field input-field">
                                <div class="btn">
                                    <span>Välj fil</span>
                                    <input type="file" ng-model="artwork.Picture">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                            @*<input value="Click me" type="submit" />*@
                            <button type="submit" class="btn-info btn"> Upload </button>
                            <button id="uploadClose" type="button" class="btn-info btn" value="hide/show">Close</button>
                        </form>
                    </div>

                </div>
            </div>
        <!-- repeater-->
        <div class="col m4" ng-repeat="artwork in artworkdata.availableArtworks">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="~/Images/Peter.JPG">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{artwork.PartitionKey}}<i class="material-icons right">more_vert</i></span>
                    <a class="button" href="/home/editartwork/{{artwork.PartitionKey}}"> <i class="material-icons right">edit</i>
                    </a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{artwork}}<i class="material-icons right">close</i></span>
                    <p>{{artwork.Description}}</p>
                    <a class="button" href="/home/editartwork/{{artwork.PartitionKey}}">
                        <i class="material-icons">edit</i>
                        Redigera
                    </a>
                </div>

            </div>
        </div>

    </div>



    <div class="row" id="colRowGallery">
        <div class="col m6">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../../Images/placeholder720x480.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                    <a class="button" href="/home/editartwork/{{artwork.ID}}">
                       Redigera
                    </a>

                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>

            </div>
        </div>

        <div class="col m6">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../../Images/placeholder720x480.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                    <p>
                        <a href="#">This is a link</a>
                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title black-text">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>

    </div>
</div>




<script>
    //HIDES ALL OTHER GALLERY TYPES WHEN THE SITE IS LOADED and UPLOADER
    jQuery(document).ready(function () {
        jQuery('#colRowGallery').hide('hide');
        jQuery('#uploader').hide('hide');
    });
    //COl3 BUTTON - Show ONLY col3 grid
    jQuery(document).ready(function () {
        jQuery('#btnCol3').on('click', function (event) {
            jQuery('#colRowGallery').hide('hide');
            jQuery('#col3Gallery').show('show');
        });
    });
    //shows the uploader container
    jQuery(document).ready(function () {
        jQuery('#btnUpload').on('click', function (event) {
            jQuery('#uploader').show('show');
        });
    });
    //Hides the uploader container
    jQuery(document).ready(function () {
        jQuery('#uploadClose').on('click', function (event) {
            jQuery('#uploader').hide('hide');
        });
    });


</script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
<script src="~/Scripts/Angular/artstoneApp.js"></script>
<script src="~/Scripts/Angular/artstoneController.js"></script>