@{
    ViewBag.Title = "Home Page";
}
<!-- TODO: Slider here -->
<!-- col3 IMAGE GALLERY BEGINS HERE -->
<div id="col3Gallery" class="container">
    <!-- TODO: Search bar and buttons -->
    <!-- A ROW OF 3 IMAGES BEGINS HERE-->
    <div class="row">
        <!-- A WRAPPER COL OF 3 IMAGES-->
        <div class="col-lg-12 col-lg-offset-1">
            <!-- IMAGE BEGINS HERE-->
            <div class="col-lg-4">
                <a href="#">
                    <img src="~/Images/placeholder720x480.png"/>
                    <!-- DESCRIPTION ON THE IMAGE BEGINS HERE-->
                    <div class="imgDesc">
                        <div class="imgDescContainer">
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                            <button class="btn-info btn">Redigera</button> <!-- EACH IMAGE HAS AN EDIT BUTTON-->
                        </div>
                    </div>
                    <!-- DESCRIPTION ENDS HERE -->
                </a>
            </div>
            <!-- IMAGE ENDS HERE-->
            <!-- IMAGE BEGINS HERE-->
            <div class="col-lg-4">
                <a href="#">
                    <img src="~/Images/placeholder720x480.png" />
                    <!-- DESCRIPTION ON THE IMAGE BEGINS HERE-->
                    <div class="imgDesc">
                        <div class="imgDescContainer">
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                            <button class="btn-info btn">Redigera</button> <!-- EACH IMAGE HAS AN EDIT BUTTON-->
                        </div>
                    </div>
                    <!-- DESCRIPTION ENDS HERE -->
                </a>
            </div>
            <!-- IMAGE ENDS HERE-->
            <!-- IMAGE BEGINS HERE-->
            <div class="col-lg-4">
                <a href="#">
                    <img src="~/Images/placeholder720x480.png" />
                    <!-- DESCRIPTION ON THE IMAGE BEGINS HERE-->
                    <div class="imgDesc">
                        <div class="imgDescContainer">
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                            <button class="btn-info btn">Redigera</button> <!-- EACH IMAGE HAS AN EDIT BUTTON-->
                        </div>
                    </div>
                    <!-- DESCRIPTION ENDS HERE -->
                </a>
            </div>
            <!-- IMAGE ENDS HERE-->
            <!-- Note: You can add more images under eachother without fucking up the positions, which is kinda nice -->
            <!-- IMAGE BEGINS HERE-->
            <div class="col-lg-4">
                <a href="#">
                    <img src="~/Images/placeholder720x480.png" />
                    <!-- DESCRIPTION ON THE IMAGE BEGINS HERE-->
                    <div class="imgDesc">
                        <div class="imgDescContainer">
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                            <button class="btn-info btn">Redigera</button> <!-- EACH IMAGE HAS AN EDIT BUTTON-->
                        </div>
                    </div>
                    <!-- DESCRIPTION ENDS HERE -->
                </a>
            </div>
            <!-- IMAGE ENDS HERE-->
            <!-- IMAGE BEGINS HERE-->
            <div class="col-lg-4">
                <a href="#">
                    <img src="~/Images/placeholder720x480.png" />
                    <!-- DESCRIPTION ON THE IMAGE BEGINS HERE-->
                    <div class="imgDesc">
                        <div class="imgDescContainer">
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                            <button class="btn-info btn">Redigera</button> <!-- EACH IMAGE HAS AN EDIT BUTTON-->
                        </div>
                    </div>
                    <!-- DESCRIPTION ENDS HERE -->
                </a>
            </div>
            <!-- IMAGE ENDS HERE-->
        </div>
        <!-- WRAPPER ENDS HERE -->
    </div>
    <!-- ROW ENDS HERE -->
</div>
<!-- col3 IMAGE GALLERY ENDS HERE-->